<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>infoChurch</title>
</head>
<body>
    
    <header>
       <h1 class="title"> infoChurch <br> Application</h1>
       <nav class="desktop">
            <ul>
                <li><a class="underline-animation" href="/">Home</a></li>
                <li><a class="underline-animation" href="/avisos">Avisos</a></li>
                <li><a class="underline-animation" href="/eventos">Eventos</a></li>
                <li><a class="underline-animation" href="/midias">Mídias</a></li>
                <li><a class="underline-animation" href="#about">Sobre</a></li>
            </ul>
       </nav>
       <svg id="open-menu" class="menu-small-devices" xmlns="http://www.w3.org/2000/svg" fill="#000" height="46" width="35"><path d="M8 22.5V19.5H40V22.5ZM8 28.5V25.5H40V28.5Z"/></svg>
    </header>
    <div class="overlay"></div>

    <div class="mobile-menu">
        <nav>
            <a class="" href="/">Home</a>
            <a class="" href="/avisos">Avisos</a>
            <a class="" href="/eventos">Eventos</a>
            <a class="" href="/midias">Mídias</a>
            <a class="" href="#about">Sobre</a>
        </nav>
        <svg  class="remove" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#ffffff"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
    </div>

    <main>
        <div class="main-container">
            <section class="info-main">
                <h3>João Pessoa, PB</h3>
                <h2>Church</h2>
                <p>6pm - 9pm</p>
            </section>
            <section class="apresentation">
                <h1>Slogan da instituição</h1>
                <p>
                    Aqui será posta uma frase que a insituição escolher. Como uma descrição de seu slogan, um convite a participar de seus eventos, etc.
                </p>
                <a class="underline-animation" href="#footer">Participe Conosco</a>
                <img src="../images/background-image.webp" alt="Church Image">
            </section>
        </div>
        <div id="about" class="second-container"> 
            <h2>Sobre</h2>
            <p>Nossa instituição é voltada para propagar os bons princípios, tais como caridade, respeito, paz, integridade. Ajudamos pessoas carentes e fazemos reuniões com o intuito de nos fortalecermos espiritualmente.</p>
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <p>Veja mais sobre nós neste vídeo de apresentação que fizemos.</p>
        </div>
    </main>
    <footer id="footer">
        <div class="address">
            <a href="#">
                Endereço
            </a>
            <div class="street">
                Av. Coelho Lisboa, 553 - Jaguaribe
            </div>
            <div class="addres">
                João Pessoa - PB, 58015-630
            </div>
        </div>
        <div class="contact">
            <a href="#">
                Contate-nos
            </a>
            <div class="number">
                (83) 2106-1457
            </div>
            <div class="email">
                info@infochurch.com
            </div>
        </div>
    </footer>
    <script src="../scripts/mobileMenu.js"></script>
</body>
</html>